:root {
    --primary: #1888ff;
  }
  
  .button-box {
    /* padding: 8px 20px; */
    border-radius: 4px;
    outline: none;
    border: none;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    background-color: var(--primary);
    padding: 8px 20px;

  }
  
  .button-box:hover {
    padding: 7px 18px;
    transition: all 0.3s ease-out;
    background-color: transparent;
    color: #fff;
    border-radius: 4px;
    border: 2px solid var(--primary);
    /* transition: all 0.3s ease-out; */
  }

  @media (max-width: 700px) {


    .button-box{
      text-align: center;
		justify-content: center;
		padding: 6px 18px;
		font-size: 14px;
    /* margin-bottom: 2px; */
    background-color: transparent;
    border-radius: 0px;
    transition: none;
    padding: 0.45rem;
  margin: 0 0.25rem;	
    }
    .button-box:hover {
      color: var(--secondary-color);
    }
    .button-box:hover{
      background-color: transparent;
      border-radius: 0px;
      transition: none;
      padding: 0.45rem;
    margin: 0 0.25rem;
    border: transparent;	
    }


  }
  